@media (max-width:1000px) {
    .img {
        margin-top: 20%;
        width: 100%;
    }
    .collableft {
        width: 90%;
    }
    .reportright {
        width: 90%;
    }
}

@media (max-width:670px) {
    .collab {
        flex-direction: column;
        text-align: center;
    }
    .collabright {
        text-align: center;
    }

    .report {
        flex-direction: column;
        text-align: center;
    }
    .btn {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

.main{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.collab {
    display: flex;
    margin-top: 30px;
}

.report {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    width: 90%;
}

.collabright {
    width: 80%;
}

.reportleft {
    width:80%;
}

.title-collab {
    background-color:rgb(243, 225, 243);
    display: block;
    padding: 0px 10px ;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    text-align: center;
    line-height: 30px;
    color:darkorchid;
    font-weight: bold;
}

.title-report {
    background-color:rgb(243, 225, 243);
    display: block;
    padding: 0px 10px ;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    text-align: center;
    line-height: 30px;
    color:darkorchid;
    font-weight: bold;
}

.btn {
    background-color: darkorchid;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
}

.btn:hover{
    background-color: rgb(199, 28, 199);
}

.btn a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.content p {
    color: rgb(116, 116, 126);
    margin-bottom: 20px;
    line-height: 23px;
}
